.content{
  text-align: center;
  color: #707070;
}
.box{
  padding-top:1%;
  padding-left: 16%;
}
.button {
  background-color: #84B59F; 
  border: none;
  color:#ffffff;
  padding: 7px 65px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
}
.button:hover {
  background-color: #4C6656}
.right{
  float:right;
}
.left{
  float:left;
}